<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @great, local:true do |f| %>
      <!--< @greats.each do |greats| %>-->
       <table class="table table-borderless text-white mt-5">
          <tr>
               <td><%= attachment_image_tag @great, :great_image, :fill, 100, 100, fallback:"Unkown_account.jpg" %></td>
              <td><%= f.attachment_field :great_image, placeholder: "イメージ" %></td>
            </tr>
       </table>
      <table class="table table-borderless text-white">
          <tbody>

            <tr>
              <td><strong>偉人</strong>名</td>
              <td><%= f.text_field :name, class:"form-control" %></td>
            </tr>
            <div class="form-group">
              <tr>
                <td><strong>ジャンルタグ</strong></td>
                <td><%= f.text_field :tag_ids, class:"form-control", id:'tag_ids', placeholder: "タグをつける。　複数つける場合','で区切ってください", value: @tag_list %></td>
              </tr>
            </div>
            <tr>
              <td><strong>見出し</strong></td>
              <td><%= f.text_area :head, class:"form-control" %></td>
            </tr>
            <tr>
              <td><strong>名言</strong></td>
              <td><%= f.text_field :word, class:"form-control" %></td>
            </tr>

            <tr>
              <td><strong>どんな人におすすめですか？</strong></td>
              <td><%= f.text_area :recommend, class:"form-control" %></td>
            </tr>
        </tbody>
      </table>
            <h5 class="mt-5"><strong>偉人紹介</strong></h5>
            <div class="topic"><%= f.text_area :topic, class:"form-control mt-4" %></div>
            <div class="form-btn mt-3"><%= f.submit "編集を保存", class:"btn btn-outline-secondary mt-3 float-right" %></div>
      <% end %>
    </div>
  </div>
</div>

