<div class="container">
  <div class="row mt-5">
    <div class="col-md-10">
      <h2>検索結果</h2>
      <% if user_signed_in? %>
        <%= link_to "新規投稿ページへ", new_great_path, class:"btn btn-outline-secondary float-right"%>
      <% end %>
      <% @great_rank.each do |greats| %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th></th>
              <th>偉人名</th>
              <th>ジャンル</th>
              <th>見出し</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= attachment_image_tag greats, :great_image, :fill, 100, 100, fallback:"Unkown_account.jpg" %></td>
              <td><%= link_to greats.name, great_path(greats.id) %></td>
                <td>
                  <% greats.tags.each do |tag| %>
                    <%= tag.name %>
                  <% end %>
                </td>
              <td><%= greats.head %></td>
              <td>
                <h3>
                  <% if user_signed_in? %>
                    <% if greats.favorited_by?(current_user) %>
                      <%= link_to "♡", great_favorites_path(greats.id), method: :delete, class:"", remote: true %><%= greats.favorites.count %>
                    <% else %>
                      <%= link_to "♡", great_favorites_path(greats.id), method: :post, remote: true %><%= greats.favorites.count %>
                    <% end %>
                  <% end %>
                </h3>
              </td>
              <td>
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                    <% if greats.is_release == true %>
                     <h5 class="text-success">公開</h5>
                    <% else %>
                      <h5>非公開</h5>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>