<% greats.each do |change_great|%>
<tbody class="card">
  <tr>
    <td><%= attachment_image_tag change_great, :great_image, :fill, 100, 100, fallback:"Unkown_account.jpg" %></td>
    <td><%= link_to change_great.name, great_path(change_great.id) %></td>
      <td>
        <% change_great.tags.each do |tag| %>
          <%= tag.name %></br>
        <% end %>
      </td>
    <td><%= change_great.head %></td>
    <td>
      <h3>
        <% if user_signed_in? %>
          <%= render 'users/favorite_index', greats: change_great %>
        <% end %>
      </h3>
    </td>
    <td>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <% if change_great.is_release == true %>
           <h5 class="text-success">公開</h5>
          <% else %>
            <h5>非公開</h5>
          <% end %>
        <% end %>
      <% end %>
    </td>
    </tr>
</tbody>
<% end %>