<div class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      <% @user.greats.each do |greats| %>
        <% if greats.is_release == true %>
        <table class="table table-borderless card">
          <div>
          <thead>
            <tr>
              <th></th>
              <th>偉人名</th>
              <th>ジャンル</th>
              <th>見出し</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="card">
            <tr>
              <td><%= attachment_image_tag greats, :great_image, :fill, 100, 100, fallback:"Unkown_account.jpg" %></td>
              <td><%= link_to greats.name, great_path(greats.id) %></td>
                <td>
                  <% greats.tags.each do |tag| %>
                    <%= tag.name %>
                  <% end %>
                </td>
              <td><%= greats.head %></td>
            <% if user_signed_in? %>
              <td><h3>
                <%= render 'users/favorite_index', greats: greats %>
              </h3></td>
            <% end %>
              </tr>
              <% end %>
          </tbody>
          </div>
        </table>
      <% end %>
    </div>
  </div>
</div>