<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2 class="mt-4">
        <% if user_signed_in? %>
          <% if current_user.id == @user.id %>
            マイページ
          <% else %>
            <%= @user.name %>さんのページ
          <% end %>
        <% end %>
        </h2>
        <div class="maypage-body col-md-10 mt-4 mr-5">
          <table class="table-borderless ">
            <td>
              <% if user_signed_in? %>
                <% if current_user.id == @user.id %>
                  <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), class:"btn btn-outline-secondary bg-light font-weight-bold ml-5" %>
                <% end %>
              <% end %>
            </td>

            <td>
              <%= link_to "新規投稿ページへ", new_great_path, class:"btn btn-outline-secondary bg-light font-weight-bold ml-4" %>
            </td>
          </table>
          <table class="table table-borderless mt-4">
            <tr>
              <td> <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback:"Unkown_account.jpg", size:'150x150' %></td>
              <% if user_signed_in?%>
                <% if current_user.id == @user.id %>
                  <td><%= link_to "お問い合わせ", inquiry_path, class:"btn btn-outline-secondary bg-light font-weight-bold "%></td>
                <% end %>
              <% end %>
            </tr>
          <div class="follow-elements d-flex text-nowrap">
            <tbody>
              <tr>
               <td>
                <div id="follow-count">
                  <%= link_to following_user_path(@user.id) do %>
                  <h5 style="color: white;">フォロー<%= @user.followings.count %>人</h5>
                  <% end %>
                </div>
              </td>
              <td>
                <div class="follower-count">
                  <%= render "users/follow/count", user: @user %>
                </div>
              </td>
              <td>
                <div>
                  <% if user_signed_in? %>
                    <% if current_user.id !=  @user.id %>
                      <%= render "users/follow/follow_btn", user: @user, users: @users %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </div>
            </tr>
              <tr class="text-white">
                <td>ユーザーネーム <strong>:</strong></td>
                <td class="ml-5 text-white"><%= @user.name %></td>
              </tr>
              <tr class="text-white">
                <td>メールアドレス<strong>:</strong></td>
                <td class="ml-5"><%= @user.email %></td>
              </tr>
              <tr class="text-white">
                <td>投稿数</td>
                <td>
                  <h4>
                    <%= link_to user_post_path(@user.id) do %>
                    <%= @user.greats.count %>件
                    <% end %>
                  </h4>
                </td>
            </tbody>
          </table>
            <h5>いいねした投稿</h5>
              <% @greats.each do |great| %>
                  <table class="table table-borderless text-black card">
                    <%= render 'users/favorite', great: great %>
                  </table>
                <% end %>
                <h3 class="mt-5 mb-5"><%= paginate @greats %></h3>
        </div>
      </div>
    </div>
  </div>
