<div class="container pt-3">
    <div class="float-right mb-3">

    <% if user_signed_in? == false %>

    <% elsif current_user.admin? == true %>
    <%= link_to "ユーザー一覧",admin_users_path, class:"btn btn-outline-white bg-white font-weight-bold text-secondary " %>
    <% end %>
    </div>
    <div id="image-slider">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
    </div>
    <div class="mt-5">
        <%= render 'greats/form' %><!--検索フォーム用部分テンプレート-->
    </div>
    <div class="row">
        <div class="first-text col-md-10 mx-auto mt-5 text-center">
            <h1 class="d-inline"><strong>The way of Grate.</strong></h1>
            <h1 class="d-inline ml-2">へようこそ！</h1>
            <h1 class="mt-2">あなたの道を照らすような</h1>
            <h1>出会いがありますように</h1>
            <div class="col-md-2, mx-auto">
                <%= link_to "Log in", user_session_path, class:"btn btn-block btn-secondary mt-5" %>
                <%= link_to "新規登録", new_user_registration_path, class:"btn btn-block btn-secondary mt-4" %>
            </div>
        </div>
        <table class="col-md-10 mt-3 flex-row mx-auto">
            <tr>
                <td><h2>注目の偉人</h2></td>
            </tr>
        </table>
        <div class="col-md-6 col-xs-6 d-flex mx-auto card-elements">
         <% @great_rank.each do |greats| %>
                <%= link_to great_path(greats.id) do %>
                    <div class="card mt-5 m-3" style="width: 11rem;">

                        <text class="rank-image m-2" fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= attachment_image_tag greats, :great_image, :fill, 100, 100 %></text>
                        <div class="card-body ">
                            <h5 class="card-title border-bottom"><%= greats.name %></h5><h3 class="card-title text-danger border-bottom">♥<%= greats.favorites.count%></h3>
                        <p class="card-text"><%= greats.head %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>
