<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 mx-auto mb-4">
            <h2 class="d-inline"><strong>The way of Grate.</strong></h2>
            <h3 class="d-inline ml-2">へようこそ！</h3>
            <h3 class="mt-2">あなたの道を照らすような</h3>
            <h3>出会いがありますように</h3>
            <div class="col-md-5, mx-auto">
                <%= link_to "Log in", user_session_path, class:"btn btn-block btn-secondary mt-5" %>
                <%= link_to "新規登録", new_user_registration_path, class:"btn btn-block btn-secondary mt-4" %>
            </div>
        </div>
        <table class="col-md-10 mt-3 mx-auto flex-row">
            <tr>
                <td><h3>注目の偉人</h3></td>
            </tr>
        </table>
        <div class="col-md-10 mx-auto d-flex">

         <% @great_rank.each do |greats| %>
        <%= link_to great_path(greats.id) do %>
            <div class="card mt-5 m-3" style="width: 18rem;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="" preserveAspectRatio="" focusable="false" role="img" aria-label="Placeholder: Image cap">
                    <text clas="" fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= attachment_image_tag greats, :great_image, :fill, 100, 100 %></text></svg>
                    <div class="card-body">
                        <h5 class="card-title"><%= greats.name %></h5><h3 class="card-title text-danger">♥<%= greats.favorites.count%></h3>
                    <p class="card-text"><%= greats.head %></p>
                    </div>
            </div><% end %>
            <% end %>


    </div>
</div>
