<!DOCTYPE html>
<html>
  <head>
    <title>The way of Great.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon-180x180.png">
  </head>

  <body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container bg-dark">
      <%= link_to "The way of Grate.", root_path, class:"navbar-brand"%>
        <div class="User-name text-light navbar-brand">
          <% if user_signed_in? %>
            <%= current_user.name %>さん
          <% end %>
        </div>
        <div class="tag-search">
          <%= form_with url: greats_path, method: :get, class:"" do %>
          <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
            {prompt: 'タグ検索',class:'form-control', onchange: 'submit(this.form);'}%>
          <% end %>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-dark" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? && current_user.admin?%>
          <li><%= link_to "Home", user_path(current_user.id), class:"fas fa-home nav-link text-light"%></li>
          <li><%= link_to "About", homes_about_path, class:"fas fa-link nav-link text-light"%></li>
          <li><%= link_to "Greats", admin_greats_path, class:"fas fa-road nav-link text-light"%></li>
          <li><%= link_to "新規登録", new_user_registration_path, class:"fas fa-check-circle nav-link text-light" %></li>
          <li><%= link_to "login", new_user_session_path, class:"fas fa-check-circle nav-link text-light" %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light" %></li>
        <% elsif user_signed_in? %>
        <li><%= link_to "Home", user_path(current_user.id), class:"fas fa-home nav-link text-light"%></li>
          <li><%= link_to "About", homes_about_path, class:"fas fa-link nav-link text-light"%></li>
          <li><%= link_to "Greats", greats_path, class:"fas fa-road nav-link text-light"%></li>
          <li><%= link_to "新規登録", new_user_registration_path, class:"fas fa-check-circle nav-link text-light" %></li>
          <li><%= link_to "login", new_user_session_path, class:"fas fa-check-circle nav-link text-light" %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light" %></li>
        <% else %>
          <li><%= link_to "Home", homes_top_path, class:"fas fa-home nav-link text-light"%></li>
          <li><%= link_to "About", homes_about_path, class:"fas fa-link nav-link text-light"%></li>
          <li><%= link_to "Greats", greats_path, class:"fas fa-road nav-link text-light"%></li>
          <li><%= link_to "login", new_user_session_path, class:"fas fa-check-circle nav-link text-light" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class:"fas fa-check-circle nav-link text-light" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
  <div class="col-md-5 mt-3  alert-secondary bg-white">
    <%= flash[:notice] %>
  </div>
    <%= yield %>
  </body>
</html>
